body{
    padding: 0%;
    margin: 0%;
    background-image:url(bg.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 10px 10px black;
    backdrop-filter: blur(5px);
    margin-top: 100px;
    margin-left: 400px;
}
input{
    width: 400px;
    height: 40px;
    border-radius: 40px;
    text-indent: 20px;
}
button{
    width: 200px;
    height: 40px;
    border-radius: 40px;
    margin-left: 100px;
}
.margin{
    margin-left: 50px;
    margin-top: 50px;
    float: left;
}
h1{
    margin-left: 32px;
}
p{
    margin-left: 5px;
    color: white;
}
h2{
    margin-left: 140px;
}
@media screen and (max-width: 1250px) {
 .main{
    width: 480px;
    height: 480px;
    box-shadow: 0px 0px 10px 10px black;
    backdrop-filter: blur(5px);
    margin-top: 90px;
    margin-left: 370px;
}
input{
    width: 370px;
    height: 40px;
    border-radius: 40px;
    text-indent: 20px;
}
button{
    width: 185px;
    height: 40px;
    border-radius: 40px;
    margin-left: 90px;
}
.margin{
    margin-left: 45px;
    margin-top: 45px;
    float: left;
}
h1{
    margin-left: 30px;
}
p{
    margin-left: 4px;
    color: white;
}
h2{
    margin-left: 130px;
}
}
@media screen and (max-width: 1200px) {
 .main{
    width: 430px;
    height: 480px;
    box-shadow: 0px 0px 10px 10px black;
    backdrop-filter: blur(5px);
    margin-top: 85px;
    margin-left: 360px;
}
input{
    width: 360px;
    height: 40px;
    border-radius: 40px;
    text-indent: 20px;
}
button{
    width: 180px;
    height: 38px;
    border-radius: 40px;
    margin-left: 90px;
}
.margin{
    margin-left: 33px;
    margin-top: 40px;
    float: left;
}
h1{
    margin-left: 18px;
}
p{
    margin-right: 38px;
    color: white;
	text-align:center;
}
h2{
    margin-left: 120px;
}
}
@media screen and (max-width: 1150px) {
 .main{
    width: 430px;
    margin-top: 80px;
    margin-left: 330px;
}
input{
    width: 350px;
	height: 39px;
}
button{
    width: 185px;
    height: 40px;
    margin-left: 85px;
}
.margin{
    margin-left: 40px;
}
h1{
    margin-left: 16px;
}
p{
    margin-left: 4px;S
}
}
@media screen and (max-width: 1100px) {
 .main{
    margin-top: 70px;
    margin-left: 310px;
}
input{
    width: 340px;
	height: 38px;
}
button{
    margin-left: 80px;
}
.margin{
    margin-left: 40px;
}
h1{
    margin-left: 10px;
}
p{
    margin-left: 2px;
}
h2{
    margin-left: 115px;
}
}
@media screen and (max-width: 1050px) {
 .main{
    margin-top: 65px;
    margin-left: 280px;
}
}
@media screen and (max-width: 1000px) {
 .main{
    margin-top: 63px;
    margin-left: 270px;
}
}
@media screen and (max-width: 950px) {
 .main{
    margin-top: 50px;
    margin-left: 250px;
}
input{
    width: 330px;
	height: 36px;
}
button{
	width: 180px;
    height: 39px;
    margin-left: 76px;
}
.margin{
    margin-left: 46px;
}
h1{
    margin-left: 5px;
}
p{
    margin-left: 1px;
}
h2{
    margin-left: 110px;
}
}
@media screen and (max-width: 900px) {
 .main{
    margin-top: 45px;
    margin-left: 230px;
}
}
@media screen and (max-width: 850px) {
 .main{
    margin-top: 40px;
    margin-left: 210px;
}
}
@media screen and (max-width: 800px) {
 .main{
    margin-top: 35px;
    margin-left: 180px;
}
}
@media screen and (max-width: 750px) {
 .main{
    margin-top: 35px;
    margin-left: 160px;
}
}
@media screen and (max-width: 700px) {
 .main{
    margin-top: 35px;
    margin-left: 140px;
}
}
@media screen and (max-width: 660px) {
 .main{
    margin-top: 35px;
    margin-left: 120px;
}
}
@media screen and (max-width: 630px) {
 .main{
    margin-top: 35px;
    margin-left: 100px;
}
}
@media screen and (max-width: 600px) {
 .main{
    margin-top: 35px;
    margin-left: 80px;
}
}
@media screen and (max-width: 550px) {
 .main{
    width: 370px;
    margin-left: 80px;
}
input{
    width: 270px;
    height: 30px;
    border-radius: 40px;
    text-indent: 20px;
}
button{
    width: 185px;
    height: 35px;
    border-radius: 40px;
    margin-left: 45px;
}
.margin{
    margin-left: 45px;
    margin-top: 45px;
    float: left;
}
h1{
    margin-right: 45px;
	text-align:center;
}
p{
    margin-left: -14px;
}
h2{
    margin-left: 80px;
}
}
@media screen and (max-width: 500px) {
 .main{
    margin-left: 60px;
}
}
@media screen and (max-width: 480px) {
 .main{
    margin-left: 50px;
}
}
@media screen and (max-width: 460px) {
  .main{
    width: 340px;
	box-shadow: 0px 0px 9px 9px black;

}
input{
    width: 250px;
}
button{
    width: 160px;
}
.margin{
    margin-left: 40px;
    margin-top: 40px;
}
h2{
    margin-left: 70px;
}
}
@media screen and (max-width: 430px) {
  .main{
    width: 320px;
	box-shadow: 0px 0px 8px 8px black;

}
input{
    width: 235px;
}
button{
    width: 150px;
}
h2{
    margin-left: 60px;
}
}
@media screen and (max-width: 410px) {
  .main{
    width: 300px;
	box-shadow: 0px 0px 7px 7px black;
}
input{
    width: 235px;
}
button{
    width: 150px;
}
.margin{
	margin-top: 25px;
}
h2{
    margin-left: 60px;
}
}
@media screen and (max-width: 410px) {
  .main{
    width: 300px;
	height: 450px;
	box-shadow: 0px 0px 7px 7px black;
}
input{
    width: 220px;
}
button{
    width: 135px;
}
.margin{
	margin-top: 15px;
}
h2{
    margin-left: 50px;
}
}
@media screen and (max-width: 380px) {
  .main{
    width: 290px;
	box-shadow: 0px 0px 6px 6px black;
}
input{
    width: 210px;
}
button{
    width: 125px;
}
.margin{
	margin-top: 10px;
}
}
@media screen and (max-width: 360px) {
  .main{
    width: 260px;
	height: 470px;
	box-shadow: 0px 0px 6px 6px black;
}
input{
    width: 180px;
    height: 25px;
}
button{
    width: 125px;
    height: 25px;
    border-radius: 40px;
    margin-left: 33px;
}
.margin{
	margin-top: 0px;
}
h2{
    margin-left: 30px;
}
}
@media screen and (max-width: 360px) {
  .main{
    width: 240px;
	box-shadow: 0px 0px 5px 5px black;
}
input{
    width: 170px;
	margin-left:-8px;
}
button{
    width: 100px;
    margin-left: 30px;
}
h2{
    margin-left: 20px;
}
}
@media screen and (max-width: 320px) {
.main{
	box-shadow: 0px 0px 4px 4px black;
	margin-left: 30px;
}
}
@media screen and (max-width: 290px) {
.main{
	margin-left: 20px;
}
}
@media screen and (max-width: 290px) {
.main{
	width: 200px;
	margin-left: 30px;
}
input{
    width: 160px;
	margin-left:-25px;
}
button{
    width: 90px;
	background-color:yellow;
    margin-left: 15px;
}
p{
    margin-left: -30px;
}
h1{
	color:yellow;
    margin-right:50px;
}
h2{
    margin-left: 3px;
	color:yellow;
}
@media screen and (max-width: 250px) {
.main{
	width: 180px;
}
input{
    width: 140px;
}
button{
    width: 70px;
}
p{
    margin-left: -30px;
}
h1{
    margin-left:-10px;
}
h2{
    margin-left: -5px;
}